*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word;
}

a {
  transition: all 0.2s ease;
  color: $textColor;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}

a img {
  border: none;
  vertical-align: middle;
}
input,
textarea {
  outline: none;
  resize: none;
}
.clear {
  clear: both;
}
.pull-left {
  float: left;
}
.fl_l {
  float: left;
}
.pull-right {
  float: right;
}
.fl_r {
  float: right;
}
.text_r {
  text-align: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.ov {
  overflow: hidden;
}
.no_bg {
  background: none;
}
.m_0 {
  margin: 0;
}
.block {
  display: block;
}
.in_bl {
  display: inline-block;
}
.inline {
  display: inline;
}
.hidden {
  visibility: hidden;
}
.none {
  display: none !important;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: 0.4em;
  line-height: 1;
}
sup {
  bottom: 1.4ex;
}
sub {
  top: 0.5ex;
}
.va_t {
  vertical-align: top;
}
.va_m {
  vertical-align: middle;
}
.va_b {
  vertical-align: bottom;
}
.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0;
}
.upp {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.col {
  float: left;
  &-1 {
    width: 8.2%;
  }
  &-2 {
    width: 16.5%;
  }
  &-3 {
    width: 25%;
  }
  &-4 {
    width: 33.3%;
  }
  &-5 {
    width: 41.7%;
  }
  &-6 {
    width: 50%;
  }
  &-7 {
    width: 58.3%;
  }
  &-8 {
    width: 66.6%;
  }
  &-9 {
    width: 75%;
  }
  &-10 {
    width: 83.3%;
  }
  &-11 {
    width: 91.6%;
  }
  &-12 {
    width: 100%;
  }
}
.row {
  &-1 {
    height: 8.2%;
  }
  &-2 {
    height: 16.5%;
  }
  &-3 {
    height: 25%;
  }
  &-4 {
    height: 33.3%;
  }
  &-5 {
    height: 41.7%;
  }
  &-6 {
    height: 50%;
  }
  &-7 {
    height: 58.3%;
  }
  &-8 {
    height: 66.6%;
  }
  &-9 {
    height: 75%;
  }
  &-10 {
    height: 83.3%;
  }
  &-11 {
    height: 91.6%;
  }
  &-12 {
    height: 100%;
  }
}
.offset {
  &-right {
    &-1 {
      padding-right: 5%;
    }
  }
  &-left {
    &-1 {
      padding-left: 5%;
    }
  }
}
.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}
.table_clearfix {
  display: table;
  &:after {
    content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;
    font-size: 0.13em;
    line-height: 0;
  }
}
.va_middle_out {
  position: relative;
  line-height: 0;
  font-size: 0;
  &:after {
    position: relative;
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
  }
}
.va_middle_in {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  text-decoration: none;
}
.justified {
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-align-last: justify;
  &:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
}
.mobile body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tablet body {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ios input,
.ios textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.pointer {
  cursor: pointer;
}

.fadeEffect {
  -webkit-animation: fadeEffect 0.2s;
  animation: fadeEffect 0.2s;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pr-85 {
  padding-right: 85px !important;
}
.w-75 {
  width: 75px !important;
}

// All basic elements styles
