// V3 Colors
$yellowGold: #aa8800;
$CurrencySelectColorHover: rgb(226, 226, 226);
$CurrencySelectColor:rgb(206, 206, 206);

// Defined brand colors (guideline)

$colorPrimary1: #ffd567;
$colorPrimary2: #e3ae22;
$colorPrimary3: #b28d2c;
$colorPrimary4: #3f310d;
$colorPrimary5: #1a1406;

$colorSecondary1: #bdb5a0;
$colorSecondary2: #8b8678;
$colorSecondary3: #595342;
$colorSecondary4: #87774d;
$colorSecondary5: #a48b48;

$colorTertiary1: #888888;
$colorTertiary2: #303030;
$colorTertiary3: #0f0f0f;
$black: #000000;
$white: #ffffff;
$textColor: #939496;

$gradientColor3: #2f2f2d;

// Colors
$dark: #24262d;
$dark2: #212228;
$gray: #4e505c;

$yellow: #ffcc47;
$yellow2: #deb24b;
$blue: #2f6acf;
$error-color: #de4b60;
$text-color: #fff;

$text-color-dark: $dark2;
$header-mark: $yellow;

$prime: $yellow2;
$prime-blue: $blue;
$mark: $yellow2;

// Typography
// -------------------------
$ff: 'ProximaNova', sans-serif;
$ff-main: $ff;

$L: 1280px;
$M: 1024px;
$S: 767px;
