.headerTxt-dd {
  text-align: center;
  font-family: 'Agencyr';
  font-size: 34px;
  color: var(--draw-details-text-color);
  text-transform: uppercase;
  

}

.header-verify-dd {
  font-size: 16px;
  font-weight:bold;
  color: var(--draw-details-text-color);
  font-family: 'ProximaNova';
  font-weight: normal;
  font-size: 20px;

}

//  Draws Detail roller
.drawTxtRoller-Detail {
  position: relative;
  top: 41%;
  left: 55px;
  font-family: 'AGENCYR' !important;
  width: 220px;
  height: 80px;
  font-size: 28px;
  line-height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}

.frameImg-Detail {
  background-image: url('../images/landing/currentDrawPanel.png');
  height: 354px;
  width: 326px;
  display: inline-flex;
  //border: 2px solid red;
}


.yellow-dd {
  color:rgb(214, 176, 52);
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  font-family: 'ProximaNova';
  font-weight: bold;
  font-size: 20px;

}

.colorYellow {
  color: var(--draw-details-text-color);
}

.descriptionTxt-dd {
  font-size: 20px;
  margin-left: 340px;
  margin-right:10px;
  overflow-wrap: break-word;
  overflow: auto;
  height: 210px;
}

#scrollStyle::-webkit-scrollbar {
  width: 12px;
  background-color: var(--app-background-color);
} 

#scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #4B4B4B;
}

#scrollStyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #FFFFFF;
}

.timeleft-dd {
  position: absolute;
  top: 375px;
  left: 15px;
  width: 325px;
  font-family: 'AGENCYR' !important;
  height: 100px;
  font-size: 26px;
  overflow: hidden;
}

.pricefeature-dd {
  position: absolute;
  top: 66%;
  left: 80px;
  /*font-family: 'AGENCYR' !important;*/
  height: 40px;
  width: 200px;
  font-size: 20px;
  overflow: hidden;
}

.drawStats-dd {
  position: absolute;
  left: 340px;
  top:255px;
  width: 650px;
  color: white;
  padding: 20px;
}

.quantbox-dd {

  border-radius: 5px 0px 0px 5px;
}

.buyTicket-dd {
position: absolute;
top:400px;
left:360px;
}


.drawDetailsBtn2{
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 5px 0px 0px black;
  cursor: pointer;
  height:30px;
  border-radius: 0px 5px 5px 0px;

  background: -webkit-linear-gradient(#9e9e9e, #090909, #090909);
  background: -moz-linear-gradient(#9e9e9e, #090909, #090909);
  background: linear-gradient(#9e9e9e, #090909, #090909);
}

.drawDetailsBtn2:hover {
  background-color: rgb(82, 82, 82);
}

.drawDetailsBtn2:focus {
  outline: none !important;
}

.drawDetailsBtn2:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.resolution-Detail-table{
  position: absolute;
  top: 400px;
  left: 25px;
  width: 305px;
}

.resolution-Detail-tdleft{
  width: 15%;
}

.resolution-Detail-tdcenter{
  max-width: 100%;
  text-align: center;
}

.resolution-Detail-tdright{
  width: 15%;
}

.odometer-value {
  text-align: center;
}
