.loading-screen {
	height: 100vh;
	width: 100%;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	h3 {
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-family: $ff;
		font-weight: bold;
	}	
}

$loader-size: 100px;
$loader-dot-size: ($loader-size / 5);
$loader-height: ($loader-dot-size * 2);
$loader-dot-color: $colorPrimary1;

.loader-walk {
  width: $loader-size;
  height: $loader-height;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  > div {
    content: "";
    width: $loader-dot-size;
    height: $loader-dot-size;
    background: $loader-dot-color;
    border-radius: 0%;
    position: absolute;
    animation: animate 2s linear infinite;
    &:nth-of-type(1) { animation-delay: -.4s; }
    &:nth-of-type(2) { animation-delay: -.8s; }
    &:nth-of-type(3) { animation-delay: -1.2s; }
    &:nth-of-type(4) { animation-delay: -1.6s; }
  }
}
@keyframes animate {
  0% { 
    left: $loader-size; 
    top:0
  }
  80% { 
    left: 0; 
    top:0;
  }
  85% { 
    left: 0; 
    top: -$loader-dot-size; 
    width: $loader-dot-size; 
    height: $loader-dot-size;
  }
  90% { 
    width: ($loader-dot-size * 2); 
    height: ($loader-dot-size - 5px); 
  }
  95% { 
    left: $loader-size; 
    top: -$loader-dot-size; 
    width: $loader-dot-size; 
    height: $loader-dot-size;
  }
  100% { 
    left: $loader-size; top:0; 
  }
}